
<ion-side-menus>

  <ion-pane ion-side-menu-content>


      <ion-nav-bar class="bar-balanced" align-title="center">

        <ion-nav-buttons side="left">

          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button><h1 class="title">{{ page.title }}</h1>
        </ion-nav-buttons>


      </ion-nav-bar>

       <ion-nav-view name="mainContent">


        <ion-nav-title>
           <h1 class="title">EasyGetFit</h1>
         </ion-nav-title>


       </ion-nav-view>

  </ion-pane>

    <ion-side-menu side="left">
      <header class="bar bar-header bar-balanced">

        <h1 class="title">EasyGetFit</h1>
      </header>

      <ion-content class="has-header">
        <ion-list>

          <ion-item nav-clear menu-close ui-sref="app.home">Home</ion-item>
          <ion-item nav-clear menu-close>Objective</ion-item>
          <ion-item nav-clear menu-close ui-sref="app.training">Training</ion-item>
          <ion-item nav-clear menu-close>History</ion-item>
          <ion-item nav-clear menu-close>Nutrition</ion-item>
          <ion-item nav-clear menu-close>Supplements</ion-item>
          <ion-item nav-clear menu-close>Tips</ion-item>
          <ion-item nav-clear menu-close>Logout</ion-item>

        </ion-list>

      </ion-content>

    </ion-side-menu>

  </ion-side-menus>
